<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
      a.nav-link{
          color: white;
      }
  </style>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="#"><strong>Q<sup>2</sup></strong></a>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
        <br>
        <h2>Welcome, {{user.alias}}!</h2>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h3>Quotable Quotes</h3><br>
                    {% for quote in all_other_quotes %}
                    <div class="card" style="width:90%">
                        <div class="card-body bg-light">
                            {% if quote.creator.id == user.id %}
                            <header>
                                <a class="small" href="/quotes/{{quote.id}}">Edit</a> | <a class="small" href="/deleteQuote/{{quote.id}}">Delete</a>
                            </header>
                            {% endif %}
                            <br>
                            <p class="card-text"><strong>"{{quote.quoteMessage}}"</strong></p>
                            <p class="card-text small text-right"> - <strong>{{quote.quoteBy}}</strong></p>
                            <p class="small">Posted By <a href="/users/{{quote.creator.id}}">{{quote.creator.name}}</a></p>
                            <a href="/addToFavorites/{{quote.id}}" class ="btn btn-primary btn-sm">Add to Favorites</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-6">
                    <h3>Your Favorites</h3><br>
                    {% for quote in all_my_favorites %}
                    <div class="card" style="width:90%">
                        <div class="card-body bg-light">
                            <p class="card-text"><strong>"{{quote.quoteMessage}}"</strong></p>
                            <p class="card-text small text-right"> - <strong>{{quote.quoteBy}}</strong></p>
                            <p class="small">Posted By <a href="/users/{{quote.creator.id}}">{{quote.creator.name}}</a></p>
                            <a href="/removeFromFavorites/{{quote.id}}" class ="btn btn-primary btn-sm">Remove from Favorites</a>
                        </div>
                    </div>
                    {% endfor %}
                    <br>
                    <div>
                        {% if messages %}
                        <ul>
                            {% for message in messages %}
                            <li style="color: red;">{{message}}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <br>
                    <h5>Contribute a Quote</h5>
                    <div class="card" style="width:90%">
                        <div class="card-body bg-light">
                            <form action="/addQuote" method="post">
                                {% csrf_token %}
                                <label for="quoteMessage">Quote:</label>
                                <textarea name="quoteMessage" id="quoteMessage" class="form-control" rows="5"></textarea>
                                <br>
                                <label for="quoteBy">Quoted By:</label>
                                <textarea name="quoteBy" id="quoteBy" class="form-control" rows="1"></textarea>
                                <br>
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</body>
</html>